.container {
    display: block;
}

.account-stats {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px;
    color: var(--secondary);
}

/* .account-stats h2::before
.account-stats h2::after {
    content: '';
    position: absolute;
    background-image: url(../imgs/aggregation.png);
    width: 100%;
    height: 100%;
} */

.account-stats div {
    background-color: var(--primary-light);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.account-stats div:last-child {
    background-color: transparent;
}

.account-stats h2 {
    text-align: center;
}


#email-sent-confirmation {
    position: fixed;
    bottom: 3em;
    padding: .5em 1em;
    background-color: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1em;
}

.error-message {
    z-index: 10;
    position: absolute;
    top: 5%;
    background-color: var(--secondary);
    border: 1px solid var(--primary-light);
    color: white;
    border-radius: 5px;
    padding: 1em 2em;
}