@import 'normalize.css';
@import 'global.css';
@import 'navbar.css';
@import 'components.css';
@import 'modal.css';
@import 'sidebar.css';

.container {
  padding: 96px 32px 32px 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;
}

/* for tablets display 2 columns and for mobile display 1 column */
@media (max-width: 768px) {
  .container-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .container-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  border-radius: 8px;
  transition: all 0.2s;
  cursor: pointer;
  max-width: fit-content;
  transition: transform 0.5s ease;
}

.card.zoomed {
  transform: scale(1.05);
}

.delete-div {
  display: none;
  position: absolute;
  left: 1em;
  top: 1em;
  background-color: var(--primary-light);
  padding: 5px;
  border-radius: 10px;
}

.blur-background {
  filter: blur(5px);
  pointer-events: none;
}

.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  z-index: 1000;
}

.confirmation-dialog>p {
  margin-bottom: 1em;
}

.confirmation-btn-container {
  display: flex;
  justify-content: space-around;
}

.card:hover>.delete-div {
  display: inline-block;
}

.publish-btn {
  --br: 10px;
  --size: calc(var(--br) * 2);
  position: absolute;
  max-width: 50%;
  top: calc(-2.4em + 1px);
  /* padding + font-size - ik, hard coded*/
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-light);
  border: none;
  border-radius: var(--br) var(--br) 0 0;
  color: var(--secondary-dark);
  padding: .5em 1em;
  font-size: 1.1em;
  cursor: pointer;
  z-index: 1;
  text-align: center;
}

.publish-btn:first-of-type {
  top: calc(-2.2em + 1px);
}

.publish-btn>span {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.publish-btn::before,
.publish-btn::after {
  content: '';
  position: absolute;
  bottom: 0;

  width: var(--size);
  aspect-ratio: 1;
  background: radial-gradient(circle at bottom right, transparent 70%, var(--primary-light) 70%);
  background-size: 100% 100%;
  background-position: 0 0;
}

.publish-btn::before {
  left: calc(-1 * var(--size));
  rotate: -180deg;
}

.publish-btn::after {
  right: calc(-1 * var(--size));
  rotate: -90deg;
}

.publish-btn-google {
  display: none;
  left: 0;
  transform: translateX(0);
}

.publish-btn-google::before {
  display: none;
}

.publish-btn-instagram {
  display: none;
  right: 0;
  transform: translateX(0);
}

.publish-btn-instagram::after {
  display: none;
}

.card-image {
  max-height: 50dvh;
  /* max-width: 23vw; */
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.card:hover {
  transition: all 0.2s;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  gap: 8px;
  box-sizing: border-box;
  word-break: break-word;
}

.card-content-title {
  font-size: 20px;
  font-weight: bold;
}

.card-content-description {
  color: darken(white, 75%);
  margin-bottom: 16px;
}

.modal .card {
  border-radius: 0 0 8px 8px;
  cursor: auto;
  position: absolute;
  z-index: 1;
  transform: all 200ms;
}

.photo-editor {
  position: relative;
}

.modal .card img {
  display: block;
  border-radius: 0;
}

.photo-editor canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.modal .card>* {
  max-width: 20vw;
}

.modal .card:hover {
  filter: none;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.25);
  color: white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 1px solid black;
  z-index: 2;
}

.modal-previous-button {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: white;
  color: white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  z-index: 2;
}

.modal-next-button {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: white;
  color: white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  z-index: 2;
}

.modal-next-button:hover,
.modal-previous-button:hover {
  transition: all 0.2s;
  background-color: lightgray;
}

.card-content-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 8px 0;
}

.card-content-like {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    width: 24px;
    height: 24px;
  }
}

.card-actions-btn-container {
  display: flex;
  gap: .5em;
}

.card-content-edit-button,
.card-content-refresh-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid gray;
  cursor: pointer;
  transition: all 0.2s;

  img {
    height: 24px;
    width: 24px;
  }
}

.card-content-edit-button:hover,
.card-content-refresh-button:hover {
  background-color: lightgray;
  transition: all 0.2s;
}

.card-content-comments {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 20vh;

  word-break: break-word;
  overflow-wrap: break-word;
  overflow-y: auto;


  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .filter-btn-container {
    margin-top: auto;
  }
}

.card-content-comments::-webkit-scrollbar {
  width: 3px;
}

.card-content-comments::-webkit-scrollbar-track {
  background: var(--primary-dark);
}

.card-content-comments::-webkit-scrollbar-thumb {
  background: var(--secondary-light);
}

.card-content-comment {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
  background-color: white;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  padding: 8px;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.card-content-description,
.card-content-comment p {
  word-break: break-word;
  overflow-wrap: break-word;
}

.card-content-comment p:first-child {
  min-width: 3em;
}

.card-checkmark {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  transition: all 0.2s;
}

.card-checkmark:hover {
  background-color: lightgray;
  transition: all 0.2s;
}

.collage-btn-container {
  position: fixed;
  bottom: 5em;
  gap: 2em;
  display: none;
}

.collage-btn {
  background-color: #75d479;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  border: 0;
  -webkit-box-shadow: 0px 0px 5px 3px var(--secondary);
  -moz-box-shadow: 0px 0px 5px 3px var(--secondary);
  box-shadow: 0px 0px 5px 3px var(--secondary);
}

.collage-btn:hover {
  background-color: #5cbf5a;
  transition: all 0.2s;
  border: 0;
}

.card-content-edit {
  width: 100%;
  height: 20vh;
  overflow-y: auto;
  display: none;
}

.card-content-edit::-webkit-scrollbar {
  width: 3px;
}

.card-content-edit::-webkit-scrollbar-track {
  background: var(--primary-dark);
}

.card-content-edit::-webkit-scrollbar-thumb {
  background: var(--secondary-light);
}

.card-content-edit-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3px;
}

.filter-btn-container {
  display: flex;
}

.card-content-edit-save-button,
.card-content-edit-reset-button,
.import-button,
.export-button {
  background-color: #75d479;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  border: 0;
  margin: 8px auto;
  display: block;
}

.card-content-edit-save-button:hover,
.card-content-edit-reset-button:hover,
.import-button:hover,
.export-button:hover {
  background-color: #5cbf5a;
  transition: all 0.2s;
  border: 0;
}


/* 
sliders custom colors
*/

input[type="range"] {
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--primary);
  border-radius: 5px;
  height: 15px;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--secondary-dark);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: var(--secondary-light);
}

input[type="range"]::-moz-range-thumb:active {
  background-color: var(--secondary-light);
}

input[type="range"]::-ms-thumb:active {
  background-color: var(--secondary-light);
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background-color: var(--primary);
  border-radius: 5px;
  height: 15px;
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--secondary);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

/* Edge */
input[type="range"]::-ms-track {
  background-color: var(--primary);
  border-radius: 5px;
  height: 15px;
}

input[type="range"]::-ms-thumb {
  background-color: var(--secondary);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}


@media screen and (max-width: 1200px) {
  .modal .card>* {
    max-width: 50vw;
  }
}


@media screen and (max-width: 720px) {
  .modal .card:not(.current) {
    display: none !important;
  }

  .modal .card {
    transform: none !important;
  }

  .modal .card>* {
    max-width: 70vw;
  }
}