@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root 
{
    --primary-dark: hsl(163, 100%, 39%);
    --primary: hsl(163, 67%, 47%);
    --primary-light: hsl(163, 50%, 60%);

    --secondary-dark: hsl(317, 92%, 10%);
    --secondary: hsl(317, 55%, 13%);
    --secondary-light: hsl(316, 29%, 20%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.btn {
  padding: 0.75em 1.5em;
  border-radius: 10px;
  border: 2px inset var(--secondary-light);
  background-color: var(--secondary);
  color: white;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}