.navbar {
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  z-index: 20;
}

@media (max-width: 768px) {
  .navbar-page {
    display: none;
  }
}

.navbar-left-side {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
}

.navbar-right-side {
  display: flex;
  align-items: center;
  gap: 16px;
}

.input-text-field {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid black;
}
.input-text-field:focus {
  border: 2px solid black;
}

.button,
.button-icon {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  background-color: var(--primary);
  color: black;
  transition: all 0.2s;
}
.button:hover,
.button-icon:hover {
  background-color: var(--primary-darkest);
  color: white;
  transition: all 0.2s;
}
.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: none;
}
.button-icon > * {
  height: 32px;
  width: 32px;
}
