.container {
    padding: 96px 32px 32px 96px;
    display: flex;
    flex-wrap: wrap;
}

.img {
    max-width: 80vw;
    max-height: 100vh;
    overflow: hidden;
}

.no-photos {
    max-width: 60vw;
    max-height: 60vh;
    overflow: hidden;
}

.img > * {
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}

.utils {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 100%;
}

.anim {
    margin: 3em 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

form select {
    width: auto;
}

.anim label {
    margin-bottom: 10px;
}

.exif-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin-top: 10px;
}

.exif-grid > div {
    padding: 8px;
    border: 1px solid var(--secondary);
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.exif-grid > div:nth-child(4n+1),
.exif-grid > div:nth-child(4n+2) {
    background-color: white;
}

.exif-grid > div:nth-child(4n+3),
.exif-grid > div:nth-child(4n+4) {
    background-color: var(--primary-light);
    color: white;
}

.exif-grid > div:nth-child(odd) {
    border-right: none;
}

.exif-grid > div:nth-child(even) {
    border-left: none;
}

@media (max-width: 778px) {
    .img{
        max-width: 95%;
    }
    .exif-grid {
        grid-template-columns: 1fr;
    }
    .exif-grid > div:nth-child(odd),
    .exif-grid > div:nth-child(even) {
        border-right: 1px solid var(--secondary);
        border-left: 1px solid var(--secondary);
    }

    .exif-grid > div:nth-child(odd) {
        background-color: white;
        color: var(--secondary);
    }

    .exif-grid > div:nth-child(even) {
        background-color: var(--primary-light);
        color: white;
    }
}


/* Keyframes for animations */
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes translate {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(50px, 50px);
    }
    50% {
        transform: translate(0, 100px);
    }
    75% {
        transform: translate(-50px, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}


@keyframes flip {
    0% {
        transform: rotateY(0) rotateZ(0);
    }
    50% {
        transform: rotateY(180deg) rotateZ(180deg);
    }
    100% {
        transform: rotateY(360deg) rotateZ(360deg);
    }
}
