
.input {
  &-text-field {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid black;

    &:focus {
      border: 2px solid black;
    }
  }
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: all 0.2s;

  &:hover {
    background-color: darken(white, 25%);
    color: white;
    transition: all 0.2s;
  }

  &-icon {
    @extend .button;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    & > * {
      height: 24px;
      width: 24px;
    }
  }
}