.a-tag-btn {
  padding: 0.75em 1.5em;
  border-radius: 10px;
  border: 2px inset var(--secondary-light);
  background-color: var(--secondary);
  color: white;
  text-decoration: none;
  text-transform: none;
}

.background-image
{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../imgs/index.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: -1;
  filter: blur(3px);
}

.container {
  width: 100%;
  padding: 15% 15% 0 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-dark);
  position: relative;
}

.container-header {
  margin: 10em;
  min-height: calc(100vh - 20em);
}

.container-title {
  text-align: center;
  margin-bottom: 128px;
  font-weight: bold;
}




/* 
//
//
ARROW
//
//
*/



section {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 5vh;
}


section * {
  padding: 0;
}

ul#downArrow {
  position: relative;
  width: 40px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

ul#downArrow li {
  list-style: none;
  width: 8px;
  height: 8px;
  background-color: var(--secondary-dark);
  border-radius: 100%;
  margin-bottom: 10px;
  animation: ani 0.8s infinite ease-in-out;
  animation-delay: calc(0.2s * var(--i));
}

ul#downArrow::before,
ul#downArrow::after {
  position: absolute;
  content: '';
  background-color: var(--secondary-dark);
  width: 30px;
  height: 3px;
  bottom: 0;
}

ul#downArrow::before {
  right: 0;
  transform: rotate(-45deg);
  transform-origin: center right;
}

ul#downArrow::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: center left;
}

@keyframes ani {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-5px);
  }

  50% {
    opacity: 1;
    transform: scale(1) translateY(20px);
  }

  100% {
    opacity: 0;
    transform: scale(0.5) translateY(40px);
  }

}



/*
//
//
BOX CONTAINER (SCHOLARLY + LOG IN)
//
//
*/

.box-container > p, .container-features-title {
  font-size: 1.5rem;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15vh;
  padding: 5em;
  border-radius: 5px;
  border: 3px solid var(--primary-dark);
  background-color: var(--primary-light);
}

.box-container > a {
  display: inline-block;
}


/*
//
//
FEATURES
//
//
*/


.container-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.container-features-card {
  display: flex;
  border-radius: 8px;
  background-color: var(--primary-light);
  transition: 200ms;
}

.container-features-card:nth-child(2n+1) {
  flex-direction: row-reverse;
}

.container-features-card:last-child {
  margin-bottom: 4rem;
}

.container-features-card-description {
  padding: 32px;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-features-card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  border-radius: 8px;
}

.container-features-card-image-container {
  flex: 0 0 50%;
  max-height: 75vh;
}



@media screen and (max-width: 1200px) {
  .background-image {
    background-image: url(../imgs/index-tablet.webp);
  }
  .container-features-card {
    display: block;
  }
}