.container {
  padding: 96px 64px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
.container-title {
  margin-bottom: 128px;
}

.platforms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}
.platforms-button {
  height: 256px;
  width: 256px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  transition: all 0.2s;
}

.platforms-button:hover, .platforms-button:target {
  background-color: #f2f2f2;
  transition: all 0.2s;
  transform: scale(1.1);
  border: 1px solid var(--secondary);
}
.platforms-button img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}



@media screen and (max-width: 1200px) {
  .platforms-button {
    height: 128px;
    width: 128px;
  }
}